$line-color: #E6ECF0;

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  font-size: 1rem;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.form {
  display: flex;
}

.left_view {
  width: 15%;
  font-weight: bold;
}

.icon {
  color: #14A1EF;
}

.user_icon {
  color: #657785;
}

.btn {
  background-color: #14A1EF;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
}

.tweet_btn {
  display: inline-block;
  padding: 10px 50px;
  a {
    color: #ffffff;
  }
}

.submit_btn {
  padding: 10px 20px;
}

textarea {
  border: 0px;
  resize: none;
  width: 512px;
  height: 50px;
  font-size: 1.2rem;
}

.menu_icon {
  width: 29.72px;
}

.center_view {
  width: 50%;
  border-style: solid;
  border-width: 0px 1px;
  border-color: $line-color;
}

.default_icon {
  width: 45px;
}

.tukutter_content {
  display: flex;
}

.form {
  border-style: solid;
  border-width: 0px 0px 10px 0px;
  border-color: $line-color;
}

.post_button {
  text-align: right;
}

.tukutter_content_container {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: $line-color;
}

.posts_list {
  border-style: solid;
  border-width: 0px 0px 10px 0px;
  border-color: $line-color;
}

.right_view {
  width: 20%;
  background-color: #14A1EF;
}
