$line-color: #E6ECF0;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
font-size: 1.5rem;
}

.container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

.form {
  display: flex;
  padding: 10px;
}

.left_view {
  padding-left: 110px;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  font-size: 1.7rem;
  font-weight: bold;
}

.error_msg p {
  color: red;
}

.empty_view {
  width: 25%;
}

.left_content {
  margin-bottom: 20px;
}

.tukutter_icon {
  margin-top: 10px;
}

.icon {
  color: #14A1EF;
}

.user_icon {
  color: #657785;
}

.left_icon {
  margin-right: 15px;
}

.btn {
  background-color: #14A1EF;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 25px;
}

.submit_btn {
  padding: 10px 20px;
  border: 0px;
}

textarea {
  border: 0px;
  resize: none;
  width: 530px;
  height: 50px;
  font-size: 1.7rem;
}

.menu_icon {
  width: 29.72px;
}

.center_view {
  width: 45%;
  height: 100%;
  border-style: solid;
  border-width: 0px 1px;
  border-color: $line-color;
  margin: 0;
}

.form_under_line {
  height: 10px;
  background-color: $line-color;
  width: 100%;
  border: none;
}

.post_under_line {
  height: 1px;
  background-color: $line-color;
  width: 100%;
  border: none;
}

.user_form_icon {
  margin-right: 10px;
}

.tukutter_content {
  display: flex;
  width: 100%;
  margin: 10px;
}

.post_btn {
  text-align: right;
}

.user_post_icon {
  margin-right: 10px;
}

.tukutter_name {
  font-weight: bold;
}

.created_at {
  font-size: 1.2rem;
  color: #657785;
}

.edit_or_delete {
  padding: 5px 0;
}

.edit_icon {
  margin-right: 50px;
}

.right_view {
  width: 30%;
  height: 100%;
}
